# when modify .gitmodules, sync to .git/config
# git submodule sync --recursive
# git submodule update --init --recursive
# git config --get-regexp submodule (check)
#
# first clone
# git submodule init (no code)
# git submodule update -recursive (clone code)
#
# other tips
# git ls-files --stage
# git rm -r --cached <path>

[submodule "nvchad"]
  path = .config/nvim
  url = git@github.com:gin31259461/nvchad.git
  branch = main
