[user]
	email = qw0207060413@gmail.com
	name = abner
[credential]
	helper = /usr/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
  # commit convert to LF, checkout keep LF
	autocrlf = input
  filemode = false
  ignorecase = true
  quotepath = false
  longpaths = true
  fsmonitor = true
  symlinks = true
[pull]
  rebase = true
